@media print {
    .input {
        display: none;
    }

    .card {
        page-break-after: always;
    }
}

@media screen {
    body {
        background-color: #f3f3f3;
    }
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    background-color: white;
}

thead {
    background-color: lightgray;
    font-weight: bold;
    font-size: 1.5rem;
}

td {
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
}

.card {
    padding: 1rem;
}

textarea {
    overflow: scroll;
}

h1 {
    color: black;
    text-align: center;
    width: 100%;
    font-size: 3rem;
}

form {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

form label {
    padding: 1rem 0;
    font-size: 1.5rem;
}

button {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: green;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
}